@charset="UTF-8";
/*通用字体的设置*/
body{
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaheiUI", 
	"Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	color: #666;
}
.navbar-header{
	position: relative;
}
.navbar-brand{
	position: absolute;
	float: left;
}
.logo{

	position: absolute;
	width: 400%;
	margin-top: -50%;
	margin-left: -80%; 

}

#navbar-collapse ul{
	margin-top: 0;
}
.carousel-inner img{
	margin: 0 auto;
}
.carousel-inner{
	position: relative;
}
.carousel-indicators{
	position: absolute;
	margin-bottom: -1%;
}
/*.carousel-control{
	font-size: 100px;
}*/


.tab-h2{
	font-size: 30px;
	text-align: center;
	color: #0059B2;
}
.tab-p{
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #999;
}
.tab1{
	margin: 30px 0;
	color: #666;
}
.tab2{
	background: #eee;
	padding: 40px 10px;
	text-align: center;
}
.tab2 img{
	width: 100%;
}
.text h3{
	font-size: 26px;
}
.text p{
	font-size: 18px;
}
.tab3{
	padding: 20px 0;
	text-align: center;
}
.tab3 img{
	width: 65%;
}

/*没有小于768px,是因为Bootstrap以移动端为优先设计*/
/*小屏幕(平板, 大于等于768px)*/
@media(min-width: 768px){
	.tab-h2{
		font-size: 26px;
	}
	.tab-p{
		font-size: 16px;
	}
	.text h3{
	font-size: 22px;
	}
	.text p{
	font-size: 15px;
	}
	.tab2-text{
		float: left;
	}
	.tab2-img{
		float: right;
	}
}
/*中等屏幕(桌面显示器, 大于等于992px)*/
@media(min-width: 992px){
	.tab-h2{
		font-size: 28px;
	}
	.tab-p{
		font-size: 17px;
	}
	.text h3{
	font-size: 24px;
	}
	.text p{
	font-size: 16px;
	}

}
/*大屏幕(大桌面显示器, 大于等于1200px)*/
@media(min-width: 1200px){
	.tab-h2{
		font-size: 30px;
	}
	.tab-p{
		font-size: 18px;
	}
	.text h3{
	font-size: 26px;
	}
	.text p{
	font-size: 18px;
	}

}
.tab1 .col{
	padding: 15px;
}

.media-body .media-heading{
	text-align: center;
}

#footer{
	background-color: #eee;
	border-top: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}


