.text-c201 {
  color: #ff9933;
}
.text-c202 {
  color: #ffbb44;
}
.text-c203 {
  color: #ff6633;
}
.text-c204 {
  color: #333333;
}
.text-c205 {
  color: #666666;
}
.text-c206 {
  color: #999999;
}
.text-c207 {
  color: #fbfbfb;
}
.text-c208 {
  color: #ffffff;
}
.text-c209 {
  color: #f0f0f0;
}
.text-c210 {
  color: #00cc33;
}
.text-c211 {
  color: #ffcc33;
}
.text-c212 {
  color: #3366cc;
}
.text-c213 {
  color: #ff3300;
}
.text-c214 {
  color: #cccccc;
}
.text-c215 {
  color: #ffff00;
}
.text-c216 {
  color: #00ddcc;
}
.text-c217 {
  color: #fafdff;
}
.text-c218 {
  color: #17263a;
}
.text-c219 {
  color: #243147;
}
.text-c220 {
  color: #a94442;
}
