/**统计表的数字**/
/**百分比的数字**/
/**导航栏标题，重要内容一级提示**/
/**二级标题，重要正文文字**/
/**正文内容辅助文字**/
/**提示性文字**/
.text-f12 {
  font-size: 12px;
}
.text-f13 {
  font-size: 13px;
}
.text-f14 {
  font-size: 14px;
}
.text-f15 {
  font-size: 15px;
}
.text-f16 {
  font-size: 16px;
}
.text-f17 {
  font-size: 17px;
}
.text-f18 {
  font-size: 18px;
}
.text-f19 {
  font-size: 19px;
}
.text-f20 {
  font-size: 20px;
}
.text-f21 {
  font-size: 21px;
}
.text-f22 {
  font-size: 22px;
}
.text-f23 {
  font-size: 23px;
}
.text-f24 {
  font-size: 24px;
}
.text-f25 {
  font-size: 25px;
}
.text-f26 {
  font-size: 26px;
}
.text-f27 {
  font-size: 27px;
}
.text-f28 {
  font-size: 28px;
}
.text-f29 {
  font-size: 29px;
}
.text-f30 {
  font-size: 30px;
}
.text-f31 {
  font-size: 31px;
}
.text-f32 {
  font-size: 32px;
}
.text-f33 {
  font-size: 33px;
}
.text-f34 {
  font-size: 34px;
}
